nav {
  height: 120px;
  width: 100vw;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 0 1.5em;
  justify-content: space-between;
  display: flex;
  align-items: center;
  position: fixed;
}

.logo{
  font-family: 'Bungee', sans-serif;
}

.new-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrow {
  color: red;
}